/*@import url('Basic/page.css');*/
/*@import url('Basic/tab.css');*/
/*@import url('Basic/menu.css');*/
/*@import url('Basic/frame.css');*/
/*@import url('Basic/control.css');*/
/*@import url('Basic/login.css');*/
@import url('basic/dialog.css');
@import url('basic/checkBox.css');
/*@import url('Basic/table.css');*/
/*@import url('Basic/checkBox.css');*/

/*body {
	margin: 0; 
	padding: 0; 
	background: #ffffff ;
	font-family: Arial, Tahoma, Verdana, Sans-Serif; 
	font-size: 11px;
}*/
